body{
    background-color:rgb(21,32,43);
    color: white;
    padding: 0;
    margin: 0;
}
main h1,h2{
    color: #ff2733;
    margin: 1rem 1rem;
}
main h3{
    margin: 1rem 1rem;
}
.para{
    margin: 0rem 1.5rem;
}
nav{
    width: 100%;
    text-align: center;
    margin: 0px;
    position: relative;
    box-shadow: 0px 1px 5px #0D1721;
    background-color:#0D1721;
    padding: 15px 10px;
}


nav ul{
    list-style-type: none;
    margin: 0;
    padding:0;
    width:100%;
}
nav a{
    color:white;
    text-decoration: none;
    padding: 15px;
    font-size: 1.3em;
    height: 100%;
    
}
nav a:hover{
    color: #ff2733;
}
.flex-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height:300px;
    margin: 1em 1em;
    
    
}
.nav-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
}
.flex-item1{
    display: flex;
    box-shadow: 1px 1px 5px rgb(21,32,43);
    height: 100%;
    /* max-width:30%; */
    margin-right: 1rem;
    /* align-items: center;
    justify-content: center; */

}
.flex-item2{
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
    margin-right: 2rem ;
    /* box-shadow: 1px 1px 1px black; */
    height: 100%;
    /* max-width:50%; */
    padding: 10px;

}
.flex-item1 img{
    border: 1px solid rgb(21,32,43);
    padding: 0px;
    /* margin: auto; */
    height:100%;
}
main{
    padding: 10px;
    position: relative;
}
.center{
    margin: 1rem auto;
    width:80%;
}