*,
*::after,
*::before{
    box-sizing: border-box;
}
body{
    margin: 0;
}
.page-container{
    background-color: #212A3E;
    color: white;
    height: 100vh;
}
.page-container header{
    text-align: center;
    font-size: 2.5em;
    padding: 1rem;
}